# ignore files by extension
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.snm
# *.bbl
*.nav
*~
*.pdf
*.png
*.jpg

# ignore files by name
.RData
.RHistory
acheat.pdf

dox/
Documents/
Downloads/
R/
.gnupg/
.local/lib
.local/src
.local/share/*
!.local/share/applications
.local/share/applications/wine-*
!.local/share/larbs
.config/nvim/spell/en.utf-8.add.spl
.config/nvim/plugged/
.config/fcitx/
.config/fcitx/conf/
.ssh/*.pub
.ssh/torch_joesuk
.texlive/
.Xauthority
.cache/
.config/Thunar/
.config/dconf/
.config/fcitx/
.config/fcitx5/conf/
.config/ibus/
.config/nvim/plugged/
.config/pulse/cookie
.config/xfce4/
.config/zsh/.zcompdump
.local/state/
.gitconfig
.Rhistory
.abook/
.bash_logout
#.bash_profile
#.bashrc
.conda/
.config/.toggle_r
.config/BraveSoftware/
.config/QtProject.conf
.config/RStudio/
.config/Unknown Organization/
.config/astropy
.config/calcurse/
.config/configstore/
.config/depot_tools/
.config/go/
.config/gtk-3.0/bookmarks
.config/htop/
.config/inkscape/
.config/libreoffice/
.config/neofetch/
.config/notmuch-config
.config/pam-gnupg
.config/privateinternetaccess/
.config/pulse/*
.config/rstudio/
.config/systemd/
.config/transmission-daemon/
.config/zoom.conf
.config/zoomus.conf
.ipython/
.julia/
.jupyter/
.local/bin/f2py
.local/bin/f2py3
.local/bin/f2py3.10
.local/bin/futurize
.local/bin/imageio_download_bin
.local/bin/imageio_remove_bin
.local/bin/julia
.local/bin/julia-1.9
.local/bin/julia-1.9.0
.local/bin/pasteurize
.local/bin/pip
.local/bin/pip3
.local/bin/pip3.10
.local/bin/pyrsa-decrypt
.local/bin/pyrsa-encrypt
.local/bin/pyrsa-keygen
.local/bin/pyrsa-priv2pub
.local/bin/pyrsa-sign
.local/bin/pyrsa-verify
.local/bin/skivi
.local/bin/torchrun
.local/bin/tqdm
.local/bin/website
.local/bin/youtube
.local/julia-1.9.0/
.local/share/applications/mimeinfo.cache
.npm/
.nv/
.nvidia-settings-rc
.pki/
.r/
.screenlayout/
.viminfo
.vpython-root/
.zoom/
.mozilla/
.msmtprc
.python_history

# from ls of home directory
.apptainer
.cache
.conda
.config
.etc_passwd
#.local
.nv
# .ssh
.viminfo
.wget-hsts
# .zshenv
